<h1> Sign Up Here </h1>
<hr>
<br>
<form action="/signup" method="POST">
  <label>Name:<input type="text" name="name" placeholder="name"></label>
  <br><br>
  <label>Email:<input type="text" name="email" placeholder="email"></label>
  <br><br>
  <label>Password:<input type="password" name="password" placeholder="password"></label>
  <br><br>
  <input type="submit" value="Signup">
  
</form>