<h1>Edit Brewery</h1>
<hr>
<br>

<form action="/breweries/<%= @brewery.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Brewery Name:<input type="text" name="name" id="name" value=<%= @brewery.name %>></label>
  <br><br>
  <label>Brewery Location:<input type="text" name="location" id="location" value=<%= @brewery.location %>></label>
  <br><br>
  <label>Favorite Beers:<textarea name="beverages" cols="30" rows="10"><%= @brewery.beverages %></textarea></label>
  <br><br>
  <input type="submit" id="submit" value="Save">
</form>