<h1>Breweries!</h1>

 <% @breweries.each do |b| %>
  <p><a href="/breweries/<%= b.id %>"><%= b.name %></a></p>
 <% end %>
 
 <br>
 
 <a href="/breweries/new">Add Brewery</a>
 <br>
 <a href="/logout">Logout</a> 