<h1>Saved Breweries</h1>
<hr>
<br>

<div class="background">
  <div class="transbox">
    <% @breweries.each do |b| %>
      <a href="/breweries/<%= b.id %>"><%= b.name %></a></p>
    <% end %>
 
    <a href="/breweries/new">Add Brewery</a>
    <br>
    <br>
    <a href="/logout">Logout</a> 
  </div>
</div>