<h1>Create a New Brewery!</h1>
<br>



<form action="/breweries" method="POST">
  <label>Select User:</label>
  <select name="user_id">
    <% @user.each do |user| %>
    <option value="<% user.id %>"><% user.name %></option>
    <% end %>
  </select>
  <br>
  
  <label for="name">Brewery Name:</label>
  <input type="text" name="brewery" id="brewery">
  <br><br>
  <label for="location">Brewery Location:</label>
  <input type="text" name="location" id="location">
  <br><br>
  <input type="submit" id="submit" value="Create Brewery">
</form>