<h1>Brewery Information</h1>
<hr>
<br>

<h2><%= @brewery.name %> </h2>

<h3><%= @brewery.location %></h3>

<form action="/breweries/<%= @brewery.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>
<br>

<form action="/breweries/<%= @brewery.id %>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Edit">
  <input type="submit" value="Edit Brewery">
</form>
<br>

<a href="/breweries"><Button>Go Back</Button></a> 
