<h2><% @brewery.name %> </h2>

<h3><% @brewery.location %></h3>

<a href="/breweries/<% @brewery.id%>" method="DELETE"> Delete Brewery </a>
<a href="/breweries/<% @brewery.id%>/eidt>"> Edit Brewery </a>
<br>

<a href="/breweries">Go Back</a>