<h2><%= @brewery.name %> </h2>

<h3><%= @brewery.location %></h3>

<form action="/breweries/<% @brewery.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>


<a href="/breweries/<% @brewery.id%>/eidt>"> Edit Brewery </a>
<br>

<a href="/breweries">Go Back</a>