
<style>
  h1 {
    text-align: center;
    color: #00b3b3;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e6ffff;
}

  body {
    color: #e6ffff;
}

  html { 
   background: url("https://images.pexels.com/photos/1672304/pexels-photo-1672304.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

</style>


 <h1>Brewery Buddy</h1>

 
 
 
  
  <h3>Welcome to Brewery Buddy! Where you can build a personal collection of your favorite beverages from your favorite breweries. Grab a pint and save your faves before you get too tipsy to remember. Login or create a profile to get started.</h3>
  <br>
  
  
  <a href="/signup"><Button>Sign Up</Button></a> 
  <br><br>
  <a href="/login"><Button>Login</Button></a> 
   
