<div class="container">
 
 <div class="col-md-8 col-md-offset-2">
  <h2>Brewery Buddy!</h2>

   <div class="content">
    <h2>Welcome to Brewery Buddy! Where you can build a personal collection of your favorite beverages from your favorite breweries. Grab a pint and save your faves before you get too tipsy to remember. Login or create a profile to get started.</h2>
    
    <h3><form action="/breweries" method="POST">
      <label for="username"> Username </label>
      <input type="text" name="username" id="username">
      <label for="password"> Password </label>
     <input type="text" name="password" id="password">
     
     <input type="submit" value="Cheers!" id="submit">
    </form></h3>
    </div>
   

  </div>
</div>
