<div class="container">
 
 <h1>Brewery Buddy!</h1>
  
  <h2>Welcome to Brewery Buddy, where you can build a personal collection of your favorite beverages from your favorite breweries. Grab a pint and save your faves before you get too tipsy to remember. Login or create a profile to get started.</h2>
    
  <br>
  <a href="/signup"><Button>Sign Up</Button></a> 
  <br>
  <a href="/login"><Button>Login</Button></a> 
    
  <h3><form action="/breweries" method="POST">
    <label for="username"> Username </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password"> Password </label>
    <input type="text" name="password" id="password">
    <br>
    <input type="submit" value="Login" id="submit">
    <br>
    <input type="submit" value="Create New" id="submit">
  </form></h3>
   
</div>
